{% extends "base3.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center" style=" padding-top: 2rem;">{% block header %}Posts{% endblock %}</h1>
    <div id="posts" style="padding-left: 2rem;padding-right: 2rem;">
      {% for post in posts %}
      <div class="card border-dark" >
        <div class="card-header d-flex justify-content-between align-items-center" style="background: #DFD3C3;">
          <a href="/post/{{post.user.username}}">{{post.user.username}}</a>
          {% if user.id == post.author %}
          <div class="btn-success btn-group ">
            <button
              type="button"
              class="btn btn-sm btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="card-body" style="background: #DFD3C3;">
          <div class="card-text">{{post.text}}</div>
        </div>
        <div class="card-footer text-muted" style="background: #DFD3C3;">{{post.date_created}}</div>
      </div>
    <br > {% endfor %}
    </div>
    {% block footer %}
    <div align="center">
      <a href="/createpost"
        ><button type="button" class="btn btn-success btn-lg">
          Create a Post
        </button></a
      >
    </div>
    {% endblock %} {% endblock %}